@model Blog
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/styles.css" />
    <title>GameBlog</title>
</head>
<body style="background-color: black;">
    <header>
        @await Html.PartialAsync("_Navbar")
    </header>
    <main>
      <div class="col-md-6 mb-4 blog-card" style="background-color: black;">
                        <!-- Post preview-->
                        <div class="detail-container">
                            <a asp-controller="Home" asp-action="Details" asp-route-id="@Model.Id">
                                <img src="~/img/@Model.Image" class="img-fluid rounded" alt="Blog-Image" style="width: 300px; height: 200px; margin-right: 20px;";">
                                <div style="flex: 1;">
                                    <h2 class="post-title">@Model.Title</h2>
                                    <h3 class="post-description">@Model.Description</h3>
                                    <p class="post-meta">
                                        Posted by
                                        <a href="#!">@Model.Author</a>
                                        on @Model.PostedDate.ToString("MMMM dd, yyyy")
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
    </main>
</body>
</html>