@model Blog

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/styles.css" />
    <title>@Model.Title</title>
</head>
<body style="background-color: black;">
    <header>
        @await Html.PartialAsync("_Navbar")
    </header>
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card mb-3" style="background-color: black;">
                    <img src="~/img/@Model.Image" class="card-img-top" alt="Blog-Image">
                    <div class="card-body">
                        <h2 class="card-title">@Model.Title</h2>
                        <p class="card-text" style="color: white;">@Model.Description</p>
                        <p class="card-text">
                            <small class="text-muted">
                                Posted by <strong>@Model.Author</strong> on @Model.PostedDate.ToString("MMMM dd, yyyy")
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>